---
// Add this import at the top of your `BlogPost.astro` file
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from '@/layouts/BaseLayout'
import Tag from '@/components/Tag'
import { Image } from 'astro:assets'

const { data, readTime, headings, id } = Astro.props
const { title, description, pubDate, heroImage, tags } = data

const articleDate = pubDate.toISOString()
---

<BaseLayout
	title={title}
	description={description}
	image={heroImage?.src}
	articleDate={articleDate}
>
	<article class='w-full md:py-4 sm:max-w-none md:max-w-none'>
		<header class='mb-3 flex flex-col justify-center items-center gap-6'>
			<!-- Title Section -->
			<div class='flex flex-col gap-2'>
				<div class='flex items-center justify-center gap-x-1'>
					<p class='text-center text-sm text-opacity-50'>
						Published <FormattedDate date={pubDate} />
					</p>
					<p class='text-center text-sm text-opacity-50 font-bold'>
						- {readTime}
					</p>
				</div>
				<!-- Responsive Title -->
				<h1 class='text-center text-2xl sm:text-4xl md:text-6xl md:pb-2.5 font-semibold'>
					{title}
				</h1>
			</div>

			<!-- Tags Section -->
			<div class='flex flex-wrap justify-center items-center gap-2 gap-y-4 md:gap-5'>
				{tags.map((tag) => <Tag tag={tag} />)}
			</div>
		</header>

		<!-- Hero Image Section -->
		<>
			{
				heroImage && (
					<Image
						src={heroImage}
						width={1000}
						height={500}
						quality={100}
						format='jpg'
						loading='eager'
						class='rounded-md w-full max-h-[300px] sm:max-h-[400px] md:max-h-[500px] my-8 object-cover'
						alt={`img of ${title}`}
					/>
				)
			}
		</>

		<!-- Divider -->
		<hr />

		<!-- Slot for Content -->
		<div>
			<slot />
		</div>

		<!-- Mobile & Desktop Adjustments -->
		<style>
			@media (max-width: 768px) {
				article {
					padding: 15px;
				}
				h1 {
					font-size: 1.75rem; /* Adjust title for smaller screens */
				}
				.heroImage {
					max-height: 250px; /* Smaller max height for hero image on mobile */
				}
			}
		</style>
	</article>
</BaseLayout>
